player-connection-mode=Listen
player-connection-guid=2820726982
player-connection-debug=0
player-connection-project-name=LAB SHOWDOWN
player-connection-ip=192.168.1.38
player-connection-ip=192.168.160.1
player-connection-ip=192.168.87.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
